services:
  web:
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: >
      sh -c "
        ./wait-for-it.sh db:3306 --timeout=30 --strict -- \
        python manage.py migrate --noinput &&
        python manage.py collectstatic --noinput &&
        pytest -v --tb=short --ds=abegify.settings.test
      "
    environment:
      DATABASE_NAME: test_db
      DATABASE_USER: root
      DATABASE_PASSWORD: rootpass
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      SECRET_KEY: testsecretkey
      DEBUG: False
      DJANGO_SETTINGS_MODULE: abegify.settings.test
      EMAIL_BACKEND: django.core.mail.backends.console.EmailBackend
      EMAIL_HOST:
      EMAIL_USE_TLS:
      EMAIL_PORT:
      EMAIL_HOST_USER: hello@example.com
      EMAIL_HOST_PASSWORD:
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - db

  db:
      image: mariadb:11
      restart: always
      environment:
        - MARIADB_ROOT_PASSWORD=rootpass
        - MARIADB_DATABASE=test_db
        - MARIADB_USER=test_user
        - MARIADB_PASSWORD=test_pass
      command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
      ports:
        - "3306:3306"
      volumes:
        - db_data:/var/lib/mysql
        
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
  db_data:
