version: 1
disable_existing_loggers: False
formatters:
  default:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: default
    stream: ext://sys.stdout
loggers:
  uvicorn:
    handlers: [console]
    level: INFO
  uvicorn.error:
    level: INFO
  uvicorn.access:
    handlers: [console]
    level: INFO
    propagate: False